<form action="/api/add" method="POST" class="container mt-4 mb-5 ">
    
    <div class="input-group mb-3">

        <span class="input-group-text">Task</span>
        <input type="text" class="form-control" id="task" name="task">
        <button type="submit" lass="btn btn-outline-secondary">submit</button>

    </div>

</form>
